// Colors
$white: #fff
$black: #0c0c0c
$highlight: #0f33ff
$muted-gray: #282828

//expanded and closed sections in gallery
$section-class: 'gallery--grid-section'
$section-expanded-class: 'gallery--grid-section-is-expanded'
$section-has-expanded-class: 'gallery--grid-section-has-expanded-item'
$section-transition-property: all
$section-transition-duration: 600ms
$section-transition-timing-function: cubic-bezier(.4,.2,0,1)